.header {
  margin-top: 2rem; /* Reduce the top margin */
  text-align: center; /* Center the header text */
  font-size: 1.5rem; /* Adjust font size for better hierarchy */
  font-weight: bold;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  gap: 3rem; /* Add spacing between items */
  margin: 1rem auto; /* Center on the page */
  padding-bottom: 3rem;
}

mat-form-field {
  width: 18rem; /* Limit width to fit better in the layout */
}

.submit {
  margin-top: 0.3rem;
  padding: 1.4rem 2rem; /*Add horizontal padding */
}

/* form { */
/* width: 20rem; */
/* } */
