<div class="search-container">
  <div class="search-wrapper">
    <p class="search-title">Find Your Stay</p>

    <form [formGroup]="dateRangeForm">
      <mat-form-field appearance="outline" class="date-picker-field">
        <mat-label>Select Dates</mat-label>
        <mat-date-range-input
          [formGroup]="dateRangeForm"
          [rangePicker]="picker"
          [min]="minDate"
        >
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Check-in"
          />
          <input
            id="date-input"
            matEndDate
            formControlName="endDate"
            placeholder="Check-out"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>event</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button
        class="search-button"
        mat-flat-button
        (click)="search()"
        [disabled]="!dateRangeForm.valid"
      >
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
    </form>
  </div>
</div>
