.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.room-card {
  width: 80%;
  max-width: 900px;
  margin-bottom: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  max-width: 500px;
}

mat-form-field {
  width: 100%;
}

mat-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  align-self: flex-end;
}

.date-container {
  display: flex;
  gap: 10px; /* Add some space between the fields */
}

.date-field {
  flex: 1; /* Make the fields take equal width */
  /* background-color: black; */
  color: black;
}

.date-field .mat-form-field-label {
  color: black; /* Make the label text black */
}

.date-field .mat-input-element {
  color: black; /* Make the input text black */
}

.date-field .mat-datepicker-toggle {
  color: black; /* Make the calendar icon black */
}

.date-field .mat-form-field-underline {
  background-color: black; /* Make the underline black */
}
