<div class="room-details-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div *ngIf="!isLoading && room">
    <h2>{{ room.title }}</h2>
    <img [src]="room.image" alt="{{ room.title }}" class="room-image" />
    <p><strong>Price:</strong> ${{ room.price }}</p>
    <p><strong>Rating:</strong> {{ room.rating }} / 5</p>
    <p><strong>Description:</strong> {{ room.description }}</p>

    <h3>Make a Reservation</h3>
    <!-- <form [formGroup]="dateRangeForm" (ngSubmit)="makeReservation()">
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startDate"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="dateRangeForm.invalid"
      >
        Reserve
      </button>
    </form> -->
  </div>
</div>
