.room-details-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.room-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.dates {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
