<div class="receipt-container" *ngIf="receipt; else loadingTemplate">
  <mat-card class="receipt-card">
    <mat-card-header>
      <div mat-card-avatar class="header-avatar">
        <img [src]="receipt.image" alt="Room Image" />
      </div>
      <mat-card-title>{{ receipt.roomTitle }}</mat-card-title>
      <mat-card-subtitle>Room Number: {{ receipt.roomNum }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="details">
        <p><strong>Description:</strong> {{ receipt.description }}</p>
        <p>
          <strong>Start Date:</strong>
          {{ receipt.startDate | date : "mediumDate" }}
        </p>
        <p>
          <strong>End Date:</strong> {{ receipt.endDate | date : "mediumDate" }}
        </p>
        <p><strong>Number of People:</strong> {{ receipt.numOfPeople }}</p>
        <p>
          <strong>Price Per Night:</strong>
          {{ receipt.pricePerNight | currency }}
        </p>
        <p><strong>Total Price:</strong> {{ receipt.totalPrice | currency }}</p>
        <p><strong>Features:</strong></p>
        <ul>
          <li *ngFor="let feature of features">
            {{ feature.name }} - {{ feature.price | currency }}
          </li>
        </ul>
        <p *ngIf="receipt.isExpired" class="expired">Booking Expired</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loadingTemplate>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
    <p>Loading Receipt...</p>
  </div>
</ng-template>
