.receipt-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.receipt-card {
  width: 600px;
}

.header-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  font-size: 16px;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.expired {
  color: red;
  font-weight: bold;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-button {
  font-size: 36px; /* Adjust the size of the stars */
  padding: 0;
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.star-button:hover {
  transform: scale(1.2); /* Zoom effect on hover */
}

.star-button .mat-icon {
  color: #ccc; /* Default color for unfilled stars */
  transition: color 0.3s ease; /* Smooth color transition */
}

.star-button:hover .mat-icon {
  color: #ff9800; /* Color change on hover */
}

.star-button.active .mat-icon {
  color: #ff9800; /* Filled color */
}

/* Optional: Change the background color of the button when active */
.star-button.active {
  background-color: rgba(255, 152, 0, 0.1); /* Light orange background */
  border-radius: 50%;
}
body-2 {
  font-size: 16px;
}

mat-error {
  color: #f44336;
}

.review-card {
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  justify-content: flex-end;
}

.star {
  color: #ffca28;
  margin-left: 0.2rem;
}

.comment {
  margin: 1rem 0;
  font-size: 16px;
}

.review-date {
  text-align: right;
  font-size: 14px;
  color: #999;
  font-style: italic;
}

.actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.star-rating {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 1rem;
}

button.active mat-icon {
  color: #ffca28;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* General Button Styling */
.actions button {
  transition: background-color 0.3s ease, color 0.3s ease;
}
