<mat-toolbar class="bg-color-blue color-white">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <a routerLink="/" class="home-button">Hotel Booking</a>
  <span class="example-spacer"></span>
  <section>
    <div *ngIf="isTokenValid; else guestButtons">
      <!-- Authenticated User Actions -->
      <button routerLink="/about" mat-flat-button>About Us</button>
      <button routerLink="/contact" mat-flat-button>Contact</button>
      <button routerLink="/profile" mat-flat-button>Profile</button>
      <button (click)="onLogout()" mat-flat-button>Log Out</button>
    </div>
    <ng-template #guestButtons>
      <!-- Guest Actions -->
      <button routerLink="/about" mat-flat-button>About Us</button>
      <button routerLink="/contact" mat-flat-button>Contact</button>
      <button routerLink="/login" mat-flat-button>Login</button>
      <button routerLink="/signup" mat-flat-button>Sign Up</button>
    </ng-template>
  </section>
</mat-toolbar>
