.search-container {
  background: linear-gradient(135deg, #f6f9fc 0%, #f1f4f8 100%);
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  /* display: grid; */
  /* grid-template-columns: 300px 1fr; */
  /* gap: 3rem; */
  /* margin-bottom: 4rem; */
}

@media (max-width: 1024px) {
  .main-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
